@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Noto+Serif+KR&display=swap');

header{
    color: #fff;
    text-align: start;
    font-size: 18px;
    font-family: 'Noto Serif KR', serif;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom:rgb(11, 162, 155) solid 1px;
}

#title_font{
    font-family: 'Noto Serif KR', serif;

}
#normal_font{
    font-family: 'Noto Serif KR', serif;
}
#table_font{
    font-family: 'Noto Serif KR', serif;
}
#content_font{
    font-family: 'Gothic A1', sans-serif;
}
.logo{
    width: 200px;
    height: 80px;
    margin: 0 10px;
}
.logo_id{
    width: 200px;
    height: 80px;
    margin: 0 10px;
}
.logo_id:hover{
    background-color: #fff;;
    text-decoration: none;
    cursor: pointer;

}

.card-text{
    font-size: 12px;
    object-fit: cover;
}

a{
    color:black;
    text-decoration: none;
    margin:13px;
}

a:hover{
    background-color: rgb(11, 162, 155);
    color: #fff;
    text-decoration: none;
}

main{
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
}
#main_img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
}
footer{
    background-color: #222222;
    color: #fff;
    padding: 20px;
    text-align: start;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    position: relative;
    bottom: 0;
    width: 100%;    
    display: flex;
    flex-direction: column;    
    align-items: center;
    

}

.sw_name{
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.sw_name:hover{
    color: rgb(11, 162, 155);
    text-decoration: none;
    cursor: pointer;
}
#media_query{
    display: none;
}

#menus{
    display: none;
    flex-direction: row;
}
#name_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    
}


@media (max-width: 768px) {
    #containers{
      display: none;
      flex-direction: column;
    }
    img{
      width: 100%;
      height: 100%;
    }
    #main_img{
        background-size: contain;
    }
    #menus{
    display: flex;
    flex-direction: column;
    color: rgb(11, 162, 155);
    text-decoration: none;
    }
    #media_query{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-size: 10px;
        color: #222222;
    }
    
  }