<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic"><strong>Soluwin</strong> can be translated to mean <span style="color: rgb(11, 162, 155);">"Innovative solution provider"</span> in English.</h1>
      <p class="lead my-3"> It is a company that specializes in providing cutting-edge solutions in the field of information and communication technology. The company's name suggests that they are dedicated to delivering unique and effective solutions that help their clients to achieve success in their businesses.</p>
      <!-- <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> -->
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row mb-2" >
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="ceo_img">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">CEO</strong>
          <h3 class="mb-0">인사말</h3>
          
          <p class="card-text mb-auto">급변하는 Total Security Solution의 선두를 추구합니다
            첨단기술을 바탕으로 인프라설계, 가치창조,기업의 핵심 솔루션을 통합 공급하는 정보기술 전문회사로 고객의 경쟁력을 강화합니다
            CCTV (Video Management Surveillance ), Network Solution, 주차유도,주차관리, 
            출입통제 등의 10년이상의 현장 전문가를 통하여 기업, 관공서, 의료기관 등의 최적의 해결책을 제공함으로써 사용자 위주의 편안하고 안전한 시스템을 구축합니다.
          </p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block" id="test" >
            <img src="images/ceo.png" id="test"  alt="박부삼" class="bd-placeholder-img" role="img"  focusable="false" >
        </div>
      </div>
    </div>
    <style>
        #ceo_img{
            
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #test{            
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    
    

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="right-content">
                <div class="thumb">
                    <h2 id="small_title">About &nbsp;<span id="r_title"> Soluwin</span></h2>
                    <br>
                    <span>급변하는 IT시장의 모든 보안영역을 대상으로 Total Security Solution을 추구하며, 첨단기술을 바탕으로 인프라설계, 가치창조,기업의 핵심 솔루션을 통합 공급하는 정보기술 전문회사로 고객의 경쟁력을 강화합니다..</span>
                    <br>
                    <br>
                    <span>CCTV (Video Management Surveillance ), Network Solution, 주차유도,주차관리, 
                        출입통제 등의 10년이상의 현장 전문가를 통하여 기업, 관공서, 의료기관 등의 최적의 해결책을 제공함으로써 사용자 위주의 편안하고 안전한 시스템을 구축합니다..
                    </span>
                </div>                        
                <br>
                <br>
  
                <br>
            </div>
        </div>
          <div class="col-lg-6" id="right_side">
            <p class="ceo_talk"><i class="fa fa-quote-left"></i>&nbsp;
              저희 ㈜솔루윈은 고객의 요구에 맞는 최적의 솔루션을 제공하고,<br>
              최고의 고객만족을 만들어 갑니다.<i class="fa fa-quote-right"></i></p>
            <img src="images/ceo.png" id="ceo_img" alt="박부삼">
            <p>[사진 : 주식회사 솔루윈 박부삼 대표]</p>
          </div>
          <style>
            #right_side{
              width: 80%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
  
            }
            #small_title{
              font-size:30px;
              color: #000;
            }
            .ceo_talk{
              font-size: 16px;
              object-fit: cover;
              font-family: Georgia, 'Times New Roman', Times, serif;
              color: #000;
            }
            #ceo_img{
              width: 100%;
              height: 120%;
  
            }
          </style>
  
        </div>
    </div>
  </div> -->