<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-12 col-lg-6">    
      <br>
      <h1 class="display-5 fw-bold lh-1 mb-3"><strong>About</strong> <span style="color: rgb(11, 162, 155);">Soluwin </span></h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">구    분</th>
            <th scope="col">내    용</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">회   사   명</th>
            <td>주식회사 솔루윈<strong>(Soluwin Co.,Ltd)</strong></td>
          </tr>
          <tr>
            <th scope="row">사업자등록번호</th>
            <td>129-86-65195</td>
          </tr>
          <tr>
            <th scope="row">대 표  이 사</th>
            <td> 박 부 삼</strong></td>
          </tr>
          <tr>
            <th scope="row">설   립   일</th>
            <td>2011년 09월 08일</td>
          </tr>
          <tr>
            <th scope="row">소   재   지</th>
            <td>경기도 용인시 수지구 신수로 767</td>
          </tr>
          <tr>
            <th scope="row">사 업 내 용</th>
            <td> 보안감시시스템, 원격감시,출입통제, 외곽감시</td>
          </tr>
        </tbody>
      </table>

  </div>
    <div class="col-10 col-sm-12 col-lg-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="ceo_img">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">CEO</strong>
          <h3 class="mb-0">인사말</h3>
          
          <p class="card-text mb-auto">급변하는 Total Security Solution의 선두를 추구합니다
            첨단기술을 바탕으로 인프라설계, 가치창조,기업의 핵심 솔루션을 통합 공급하는 정보기술 전문회사로 고객의 경쟁력을 강화합니다
            CCTV (Video Management Surveillance ), Network Solution, 주차유도,주차관리, 
            출입통제 등의 10년이상의 현장 전문가를 통하여 기업, 관공서, 의료기관 등의 최적의 해결책을 제공함으로써 사용자 위주의 편안하고 안전한 시스템을 구축합니다.
          </p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block" id="test" >
            <img src="images/ceo.png" id="ceo_image"  alt="박부삼" class="bd-placeholder-img" role="img"  focusable="false" >
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-12 px-0">
        <h1 class="display-7 fst-italic"><strong>Soluwin</strong> can be translated to mean <span style="color: rgb(11, 162, 155);">"Innovative solution provider"</span> in English.</h1>
        <p class="lead my-8"> It is a company that specializes in providing cutting-edge solutions in the field of information and communication technology. The company's name suggests that they are dedicated to delivering unique and effective solutions that help their clients to achieve success in their businesses.</p>
        <!-- <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> -->
      </div>
    </div>
    </div>
<style>
    #ceo_img{
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #ceo_image{            
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
</style>