              
    <a href="#" class="logo">
        <img src="images/sw_logo_1.png" style="width: 60%; height:50%">
    </a>                
    <ul>
        <li >
            <a href="#">Home&nbsp;&nbsp;</a>
        </li>
        <li class="submenu">
          <a>About&nbsp;&nbsp;</a>
          <ul>                  
            <li><a href="main.php?id=회사소개">회사소개</a></li>
            <li><a href="main.php?id=연락처">연락처</a></li>
          </ul>
        </li>
        <li class="submenu">
            <a>사업분야</a>
            <ul>
                <li><a href="saup.php?id=cctv">CCTV</a></li>
                <li><a href="saup.php?id=출입통제">출입통제</a></li>
                <li><a href="saup.php?id=보안설계">보안설계</a></li>
            </ul>
        </li>
    </ul> 
    <a class='menu-trigger' id="menus" onclick="meuns()">
        <span>About</span>             
    </a>
